<ng-container *ngIf="!(isLoading | async)">
  <header class="p-3 text-bg-dark sticky-top">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
        >
          <svg
            class="bi me-2"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <div
          ngbDropdown
          class="col-12 col-lg-auto mb-3 mb-lg-0 d-flex flex-wrap justify-content-center"
          role="search"
        >
          <input
            [(ngModel)]="search"
            (ngModelChange)="searchList()"
            type="search"
            class="form-control form-control-dark text-bg-white my-1"
            style="width: 300px"
            placeholder="Search..."
            aria-label="Search"
          />

          <button
            ngbDropdownToggle
            type="button"
            class="btn btn-outline-light mx-2 my-1 rounded-pill"
          >
            Filter by Industry
          </button>

          <div class="dropdown-menu" ngbDropdownMenu>
            <ng-container *ngFor="let item of industries">
              <button (click)="filterList(item)" ngbDropdownItem>
                {{ item }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="mt-5"></div>

  <router-outlet></router-outlet>
</ng-container>
