<ng-container *ngIf="!(isLoading | async)">
  <header class="p-3 text-bg-dark sticky-top">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
      >
        <a
          href="/"
          routerLink="/"
          class="d-flex align-items-center h3 fw-bold mb-2 mb-lg-0 text-white text-decoration-none"
        >
          COMPLIST
        </a>

        <div
          *ngIf="url == '/'"
          ngbDropdown
          class="col-12 col-lg-auto mb-3 mb-lg-0 d-flex flex-wrap justify-content-center"
          role="search"
        >
          <input
            [(ngModel)]="search"
            (ngModelChange)="filterSearch()"
            type="search"
            class="form-control form-control-dark text-bg-white my-1"
            style="width: 300px"
            placeholder="Search..."
            aria-label="Search"
          />

          <button
            ngbDropdownToggle
            type="button"
            class="btn btn-outline-light mx-2 my-1 rounded-pill"
          >
            Filter by Industry
          </button>

          <div class="dropdown-menu" ngbDropdownMenu>
            <ng-container *ngFor="let item of industries">
              <button (click)="addFilter(item)" ngbDropdownItem>
                {{ item }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="mt-5 container">
    <div class="d-flex justify-content-center">
      <ng-container *ngFor="let ind of filters">
        <span class="badge rounded-pill mx-2 h3 text-bg-dark">
          {{ ind }}

          <span
            (click)="clearFilter(ind)"
            class="bi bi-x text-danger cursor-pointer"
          ></span>
        </span>
      </ng-container>
    </div>
  </div>

  <router-outlet></router-outlet>
</ng-container>
